* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2b2b2b;
    line-height: 1.5;
    background-color:aliceblue;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 34px;
    margin-bottom: 10px;
}
header, footer {
    background-color:#0A365C;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 16px;
}

nav a {
    list-style: none;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin: 0 16px;
}

label{
    display: block;
}

textarea{
    width: 100%;
    border-radius: 8px;
    border-left: 4px solid#0A365C;
}


.form {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 0.5px solid #ccc;
    border-left: 4px solid #0A365C;
}

.form2 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #1b1b1b;
    background-color: #ffffff;
    border-left: 4px solid #0A365C;
}

.form3 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 0.5px solid #ccc;
}

.botton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #0A365C;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#formulario {
    max-width: 500px;
    margin: 0 auto;
    background-color: #a6b4de;
    padding: 24px;
    border-radius: 16px;
}
